* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 90vh;
  display: flex;
}
div {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
label {
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input,
button {
  font-size: 2rem;
}
input {
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem 0;
}
button {
  padding: 1.5rem;
  width: 30rem;
}
i {
  padding-right: 0.5rem;
}
